/* --- ---=[ EVENTS ]=--- --- */

.nvaEventContent {
  font-style:italic;
}

.nvaEventDescription {
}

.nvaEventTitle {
  font-weight: bold;
  font-size: 110%;
}

.nvaEventTitleText {
  display: block;
}

.nvaEventTitleDate {
  float: left;
  display: block;
  color: #333;
}

.nvaEventLink {
  text-decoration: none;
  color: #004994;
}

.nvaCurrentYear {
  font-size: 130%;
  font-weight: bold;
}

