/* -=[ --------- BASE --------- ]=- */

* {
margin: 0;
padding: 0;
}

body {
font-family: Arial;
font-size: 11px;
color: #666;
background-color: #eee;
}

ul {
list-style-type: none;
}

li {
margin-bottom: 10px;
}

input.user, input.passwd {
border-bottom: 1px inset #bbb;
}

input.submit {
width: 90px;
}

h2 {
margin: 12px 0;
font-size: 16px;
color:#004994;
}

#container {
width: 999px;
margin:0 auto 0 auto;
}

#head {
background-color: #fff;
height: 87px;
}

#logo {
background-image: url(bglogo.gif);
background-repeat: no-repeat;
height: 65px;
width: 204px;
margin: 10px 0 0 25px;
float: left;
}

#titelbild {
background-image: url(titelbild.jpg);
height: 87px;
width: 750px;
float: right;
}

#bar {
background-color: #cccccc;
height: 26px;
border-bottom: 5px solid #f6f7f2;
}
#content {
background: #fff;
}

#content-middle {
margin: 0 auto;
width: 500px;
padding-top: 15px;
padding-bottom: 100px;
}

#box {
background-color: #f6f7f2;
width: 400px;
padding: 10px;
margin-top: 5px;
}

.formtext {
display: inline;
font-weight: bold;
margin-left: 5px;
}

.pwd {
color: #f00;
margin: 0 170px 5px 0;
font-weight: bold;
}

.hwtext {
color: #f00;
margin: 0 170px 5px 0;
}

.info-message {
background-color:#F4F4F4;
border:1px solid #DDDDDD;
clear:both;
font-size:90%;
margin-left:0;
}

.info-message dt {
background:url("info.png") no-repeat scroll 5px 50% #E0E0E0;
float:left;
font-weight:bold;
margin:0 1em 0 0;
padding:0.4em 10px 0.4em 26px;
text-transform:capitalize;
}

dl.error dt {
background-image:url("error.png");
}

dl.warning dt {
background-image:url("warning.png");
}

.info-message dd {
    padding:0.4em 1em;
}
