# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =  
    instance
    zopepy
    i18ndude
    zopeskel
    test

extends = 
    http://dist.plone.org/release/4.1.6/versions.cfg
	
# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.6
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
	
versions = versions

eggs-directory = eggs

# Reference any folders where you have Python egg source code under development here 
# e.g.: develop = src/my.package
# If you are using the mr.developer extension and have the source code in a 
# repository mr.developer will handle this automatically for you
develop =

auto-checkout = 
    nva.visitor
    nva.maaggear_skin

[versions]
python-ldap = 2.4.9
dataflake.fakeldap = 1.0
i18ndude = 3.2.2
ordereddict = 1.1
plone.app.ldap = 1.2.8
products.ldapmultiplugins = 1.14
products.ldapuserfolder = 2.23
products.ploneldap = 1.1
templer.buildout = 1.0b1
templer.core = 1.0b4
templer.localcommands = 1.0b2
templer.plone = 1.0b1
templer.plone.localcommands = 1.0b1
templer.zope = 1.0b2
cheetah = 2.2.1

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 80
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
	Plone
        plone.app.ldap
        nva.visitor
        nva.maaggear_skin

# Some pre-Plone 3.3 packages may need you to register the package name here in 
# order their configure.zcml to be run (http://plone.org/products/plone/roadmap/247)
# - this is never required for packages in the Products namespace (Products.*)
zcml =
      nva.visitor
      nva.maaggear_skin

zope-conf-additional =

        <product-config visitor>
           ldapserver rs-aug-bendc-01.pfister.de
           ldapadmin cn=svc-agb-plonedummy,ou=systemkonten,dc=pfister,dc=de
           ldappassw xxxxxxxxxx
           basedn ou=user,ou=Pfister GmbH,dc=pfister,dc=de
           mailserver "rs-aug-appsv-01"
           tmpfile \tmp\
        </product-config>



# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# create ZopeSkel command
[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance:eggs}

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on format for this part
[sources]
collective.developermanual = svn http://svn.plone.org/svn/collective/collective.developermanual
nva.visitor = svn https://novareto.googlecode.com/svn/nva.visitor/trunk
nva.maaggear_skin = svn https://novareto.googlecode.com/svn/nva.maaggear_skin/trunk
