
.item-status-free {
    background-color: green;
}
.item-status-weekend {
    background-color: #ddd;
}
.item-status-blocked {
    background-color: red;
}

.item-images {

}

.item-image {
    float: left;
}

.item-text {
    float: left;
    max-width: 600px;
    margin-left: 1em;
}

.row {
    clear: both;
    margin-bottom: 1em;
}

