/* GLOBAL */

body {
 color: #6E6E6E;
}

a {
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}


/* Header */

a#logo {
 background: url("logotype.gif") no-repeat scroll 0 2px transparent;
 border: medium none !important;
 display: block;
 height: 70px;
 margin: 14px 22px 4px;
 width: 215px;
 float: left;
 line-height: 0;
}


/* GlobalMenu */

div#globalmenu {
 background: url("main-menu-bg.gif") no-repeat scroll 50px 50% #6E6E6E;
 height: 23px;
 margin: 0;
 padding-left: 200px;
}

div#globalmenu .sf-menu {
 line-height: 16px
}

div#globalmenu .sf-menu a {
 padding: 0.25em 1em;
}

div#globalmenu .sf-menu li {
 height: 23px;
}


/* PersonalMenu */

div#personalmenu {
 float: right;
 position: relative;
 margin-top: -16px;
 z-index: 0;
}

ul#personalmenuviewlet {
 background: url("user.png") no-repeat scroll 0 50% transparent;
 line-height: 16px;
 list-style: none outside none;
 margin: 0;
 padding: 0 0 0 15px;
}


/* Content */

div#uvc-inner-body {
 background-color: #EFEFEF;
 border: 1px solid #DDDDDD;
 padding: 0.5em 1em 1em;
 margin-top: 1em;
}

/* FORM */



form label {
 display: block;
}

form span.field-required {
    background: url("required.gif") no-repeat scroll left center transparent;
    color: #EDEDED;
    padding: 0 0 0 8px;
}


/* Footer */

ul.footer {
 background: url("footer-bg.gif") repeat-x scroll left top transparent;
 border-top: 2px solid #B30B16;
 clear: both;
 line-height: 2em;
 text-align: right;
 margin-right: 0px;
}

ul.footer a {
 border-left: 1px solid #888888;
 color: #6E6E6E;
 font-size: 0.9em;
 padding: 0.1em 0.5em;
 text-decoration: none;
}

ul.footer li {
 list-style: none;
}

ul.footer li:first-child a {
 border-left: 0 none;
}
